body{
  font-family: sans-serif;
  text-align: center;
  background-image: url(../images/dark-grass-silhouette-and-grey-sky_nkwhsbqz__F0000.png);
  background-size: cover;
  color: gainsboro;
}
h1{
  margin-top:100px;
  font-family: sunday holiday;
  font-size: 4.5em;
}
.container{
  width: 700px;
  height:400px;
  margin: 15px auto;
  background-image: url(../images/DLZHGX014_250x150_grande_1b6a57b5-097a-4b42-87c3-3d5af687ccaa_600x.jpg);
  background-size: cover;
  border-radius: 1em;
  position: relative;
}

#btn{
  font-size: 1.5em;
  padding: 0.5em 1.5em;
  background: secondary;
  border: 2px solid secondary;
  color: #999;
  transition: 0.2s;
  margin-top: 15px;
  text-decoration: none;

}
#btn:hover{
  background: #999;
  color: white;
  border: 2px solid #999;
  text-decoration: none;
}

.container video{
  margin-top: 15px;
}

button a{
  text-decoration: none;
  color: white;
}

#htp{
  font-size: 1em;
  background: secondary;
  border: 2px solid secondary;
  color: black;
  transition: 0.2s;
  outline: none;
  margin-top: 10px;
  border-radius: 100px;
  position: absolute;
  margin-left: 280px;

}
#htp:hover{
  background: #999;
  color: white;
  border: 2px solid #999;
  text-decoration: none;

}
